.Rhistory
.RData
.Rprofile
renv.lock
renv/
*.bmp
*.dat
*.dta
*.jpg
*.png
*.rda
*.RData
*.rds
*.RDS
*.Rds
*.rdata
*.Rdata
*.Rhistory
*.sav
*.zip
*.R~
*.gh5
*.dgm
*.Rproj
*.csv
*.~
*.*~
\#*.*#
*HRS*.*
*sensitive*.*
*secure*.*
*location*.*
/Data/*
/Private/*
/Location/*
Baseline_PersonalisedReport_*.pdf
Baseline_PersonalisedReport_*.log
Baseline_PersonalisedReport_*.tex
!NRC-Emotion-Lexicon-Wordlevel-v0.92-present.RDS